@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Mono", monospace;
    transition: background-color 0.5s ease;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

span {
    font-size: 12px;
    font-weight: 400;
}

svg,
span {
    transition: color 0.3s ease;
    color: hsl(var(--foreground));
}
