@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem !important;
    font-family: "IBM Plex Mono", monospace;
}

span {
    font-size: 12px;
    font-weight: 400;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 200;
}
