.desktop-playground {
    height: 100%;

    .moodboard-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
    }

    .moodboard-pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.25rem;
        width: 250px;
        height: 250px;
    }
}